.role {
  display: inline-block;
  padding: 5px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 3px;
}

.role.viewer {
  background-color: grey;
  color: rgb(255, 255, 255);
}
.role.subscriber {
  background-color: rgb(143, 41, 161);
  color: rgb(255, 255, 255);
}
.role.vip {
  background-color: rgb(228, 74, 207);
  color: rgb(255, 255, 255);
}
.role.moderator {
  background-color: rgb(0, 110, 28);
  color: rgb(255, 255, 255);
}
.role.broadcaster {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
}

ul, li {
  margin: 0;
  list-style: none;
}
